.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 2em;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.burgerArea {
  background-color: #829b97;
  padding: 1em;
  border-radius: 1em 0;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33626c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.showMenu {
  transform: translateY(0);
}

.menuLinks {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menuLinks li {
  margin: 1rem 0;
}

.menuLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menuLinks li a:hover {
  color: #f4a261;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
